@import "./containers/BurgerBuilder/BurgerBuilder";
@import "./containers/Checkout/ContactData/ContactData";
@import "./components/Logo/Logo";
@import "./hoc/Layout/Layout";
@import "./components/Burger/Burger";
@import "./components/Burger/BurgerIngredient/BurgerIngredient";
@import "./components/Burger/BuildControls/BuildControls";
@import "./components/Burger/BuildControls/BuildControl/BuildControl";
@import "./components/Order/CheckoutSummary/CheckoutSummary";
@import "./components/UI/Modal/Modal";
@import "./components/UI/Backdrop/Backdrop";
@import "./components/UI/Button/Button";
@import "./components/UI/Spinner/Spinner";
@import "./components/Navigation/Toolbar/Toolbar";
@import "./components/Navigation/NavigationItems/NavigationItems";
@import "./components/Navigation/NavigationItems/NavigationItem/NavigationItem";
@import "./components/Navigation/SideDrawer/SideDrawer";
@import "./components/Navigation/SideDrawer/DrawerToggle/DrawerToggle";


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
